{% extends 'website/layout.html '%}
{% load static %}


{% block body%}
<div class="container-fluid professional">
    <br>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="icon bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
    </svg>
    <h5 >What I've worked on :</h5>
    <br>
    #Rmber to make each card clickable !!
    <div class="card p card text-white mb-3" style="max-width:100%;">
        <div class="card-header"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
          </svg> January - March 2022</div>
        <div class="card-body">
          <h5 class="card-title">Python for scientific computing</h5>
          <h6 class="card-subtitle mb-2 text-secondary">University of Michigan / Free Code Camp</h6>
          <p class="card-text">A two-part course that teaches Python fundamentals before moving on to data structures, networking, relational databases, and data visualization.</p>
        </div>
      </div>
      <div class="card p card text-white mb-3" style="max-width:100%;">
        <div class="card-header"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
          </svg> March - July 2022</div>
        <div class="card-body">
          <h5 class="card-title">CS50x Introduction to Computer Science</h5>
          <h6 class="card-subtitle mb-2 text-secondary">Harvard University / EdX</h6>
          <p class="card-text">CS50x is an introductory programming course that teaches students how to think algorithmically and solve problems efficiently.</p>
        </div>
        </div>
        <div class="card p card text-white mb-3" style="max-width:100%;">
            <div class="card-header"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
              </svg>August-September 2022</div>
            <div class="card-body">
              <h5 class="card-title">CS50w Web Programming with Python and Javascript</h5>
              <h6 class="card-subtitle mb-2 text-secondary">Harvard University / EdX</h6>
              <p class="card-text">Picking up where CS50x leave's off, the course dives more deeply into the design and implementation of web apps with Python,JavasScript and SQL, using frameworks like Django, React and Bootstrap.</p>
            </div>
      </div>
      
    
</div>


{% endblock%}

{% block script%}

{% endblock%}