{% extends 'website/layout.html '%}
{% load static %}


{% block body%}
<div style="position: fixed; width: 100%; height: 100%; z-index:-10 ;" id="particles-js"></div>
<div class="ppost container-fluid text-center">
    
    <h1 class="article"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-journal-bookmark-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"/>
        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
      </svg>  Project JC</h1>
    <br>
    <h5 class="article text-light"><i>How I started a mini online business and what I've learnt from it</i></h5>
    <p class="fancy" style="line-height: 2em;letter-spacing: 1px;max-width: 50%; margin-top:1rem;margin-left: auto; text-align:justify; margin-right: auto; ">
        <br>
        <span class="cursor"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
          </svg>  The Project JC document</span>
        <br>
        <span class="cursor"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
            <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
          </svg> Find us on TikTok</span><br>
        <br>
        Project JC was, for the most part, a passion project. My journey (hyperlink) as a student made me realize two things:
        The impossible triangle is a myth - it is most definitely possible to be able to get sufficient sleep, get sufficient rest and play, all while maintaining excellent grades in school. You just have to know the right study techniques/resources/tips and tricks in order to do it.
        So many of us don’t know these tips and tricks
        Together with a good friend, I decided to start writing Project JC during the December holidays once A levels ended - A single document that would contain all you needed to know on how to survive and thrive during your JC period. We made sure to cover all grounds, commenting on both the social as well as educational aspects of JC. 
        <br>
        <br>
        Why I turned it into a business: <br>
        On a basic level - I wanted to try my hand at creating a source of passive income. The idea was great: We would have all our products online in Google Drive, all transactions would be done via Google Forms and Paynow, all marketing could be done online, and code could be written to compute sales and monthly earnings. Furthermore, it provided a convenient way to supplement my income. 
        <br>
        <br>
        It was ultimately still a tough choice, as one of my main goals when creating Project JC was to create a resource that would be universally available to all students - I personally couldn’t stand it when I would see people on carousell charging for resources they did not create (e.g. school notes)/resources that could be easily found for free (e.g. Prelim Papers). I made it a point to include links to all these resources in my document, so that people would be able to access them for free without needlessly paying for it.
        <br>
        <br>
        Eventually, I reasoned with myself that the products I sold were made and collated by me, and that the document had already provided sufficient information on how students could make their own versions of it if they wanted to. What I provided was a time-saving method to get stellar grades, but it was not necessary if students didn’t want to. Thus, while the document still remains completely available to the public, our resources are behind a paywall. Don’t really know if it was the right thing to do, but it's been working out great so far :)
        <br>
        <br>
        What I’ve learnt: <br>
        I am so glad I chose to start this whole Project JC thing because of how much it has opened up opportunities and how much it has taught me. I think there's something special about choosing to do something purely because you want to, even when there's no reason to do it - intrinsic motivation far outweighs extrinsic motivation, and it's times like these where I truly experience a state of flow and excitement to do work- something I treasure a lot. Furthermore, this journey has allowed me to dabble in the fields of business/marketing (choosing to run sales + market via TikTok allowed us to see a ~300% increase in revenue) as well as programming (my very first Python programme was written in order to interpret .csv files to compute our monthly sales). It brings so much joy to see something you’ve worked on “succeed” (at least in my personal definition of it), and I couldn’t have asked for more on this project. 
    
    </p>
    
</div>

{% endblock%}

{% block script%}
<script src="{%static 'website/particles.js' %}"></script>
<script src="{%static 'website/app.js' %}"></script>
<script src="{% 'website/projectjc.js'%}"></script>


{% endblock%}