


.blog-header {
    line-height: 1;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    top:0%;
}

.abtbtn{
  margin-right: 2rem;
}

.content{
  margin-top: 50px;
}

.blog-header-logo {
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem;
}

.fancy {
  font-family: 'Poppins', sans-serif;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin:auto;
  align-items: center;
  justify-content:center;
}

body{
  display:flex;
  align-items: center;
  justify-content:center;
  min-height: 100vh;
  
}

.home{
  display: flex;
  height:100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
  background: url("/static/img/background.jpg") no-repeat center;
  background-size: cover;
  min-height: 500px;
  width: 100%;

}

.home .max-width{
  margin: auto 0 auto 3px;
}

.home .home-content .text-1{
  font-size:27px;
}

.home .home-content .text-2{
  font-size:50px;
  font-weight:600;
  margin-left:-3px;
}

.home .home-content .text-3{
  font-size:40px;
  margin: 5px 0;
}

home .home-content .text-3{
  font-size:13px;
  margin: 5px 0;
}

home .home-content .text-4{
  font-size:13px;
  margin: 5px 0;
}

.home .home-content .text-3 span{
  font-weight:500;
  color:mintcream;
}

.cursor
{
    cursor: pointer;
}

.about-page{
  color: white;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 4rem;
  text-align: center;
}

.aboutme{
  margin-top: 6rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.image{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.overlay{
  z-index: 5;
}

